* {Margin: 0 auto;}
body{background-color: #d4d4d4;
    font-family: monospace;}
#menuhead {background-color: orange;
    display: flex;
    color: white;
    text-align: center;
    height: 70px;}
.background {background-color: #ffffff;}
.margin {margin: 30px;}
.display {text-align: center;}
.tittlecolor {color: #ff6a28}
.margintext {margin-bottom: 15px;}
.border {border-radius: 5px;}
.padding {padding: 20px;}
.margintittle {margin-top: 15px;}
.alinhartitulo {align-self: center;}
.rodape {text-align: center;}